<nav *ngIf="isAuthenticated">
  <ul>
    <div [ngClass]="'leftSide-menu'">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/recipes">Recipes</a></li>
      <li><a routerLink="/ingredients">Ingredients</a></li>
    </div>
    <div [ngClass]="'rightSide-menu'">
      <!-- <li><a routerLink="/login">Login</a></li>
      <button><a routerLink="/register">SignUp</a></button> -->
      <button [ngClass]="'logout'" (click)="onLogout()">
        <a routerLink="">Logout</a>
      </button>
    </div>
  </ul>
</nav>
