<div [ngClass]="!isLoading ? 'register-container' : ''">
  <div [ngClass]="'container-spinner'" *ngIf="isLoading">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div [ngClass]="'container-error'">
    <span>{{ error }}</span>
  </div>
  <form
    #registerForm="ngForm"
    [ngClass]="'register-form'"
    (ngSubmit)="onSubmit(registerForm)"
    *ngIf="!isLoading"
  >
    <div [ngClass]="'container-form'">
      <h1 [ngClass]="'title'">Register</h1>

      <!-- <label for="username">Username*</label>
      <input type="text" id="username" name="username" required ngModel /> -->

      <label for="email">Email*</label>
      <input type="email" id="email" name="email" required email ngModel />

      <label for="password">Password*</label>
      <input
        type="password"
        id="password"
        name="password"
        required
        ngModel
        minlength="6"
      />

      <button
        [ngClass]="'register-button'"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </div>
    <div [ngClass]="'container-image'">
      <img src="../../assets/pexels-alesia-kozik-6546421.jpg" alt="" />
    </div>
    <h5>Already have an account? <a routerLink="/login">Login</a></h5>
  </form>
</div>
